// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

// Variables


// fonts
$headlineFont: Sanchez, serif;
$textFont: Quicksand, sans-serif;


// colour
$darkBlue: #006766;
$midToneBlue: #66cdcc;
$lightBlue: #9acccd;

$deepOrange: #ff6500;
$midToneOrange: #ff9934;

$offWhite: #fffef9;


        body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}




header{
  height: 800px;
  width: 100%;

  background-color: red;

  position: relative;
}











// testing code

.menu{
  width: 27.5%;
  height: 100vh;
  background-color: $midToneBlue;
  position: relative;
  display: block;

  color: $darkBlue;
  font-family: $textFont;

  font-size: 20pt;
  line-height: 175%;

  .logoImg{
    width: 63%;
    margin: 0 25% 0 12%;
    padding: 20% 0 5%;
  }

  .verticalFlex{
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    list-style: none;

    width: auto;
    margin: 0 0 0 41.75%;
  }

  .flex{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    list-style: none;
    position: absolute;
    bottom: 10%;
    right: 21%;
    left: 18.7%;

    .teamIcon{
      width: 50px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: end;

    }

    .someIcons{
      width: 55%;

      ul{
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        list-style: none;
        width: 100%;

        font-size: 41pt;

        li{
          padding: 0;
          margin: 0;

          a{
            padding: 0;
            margin: 0;

            i{
              padding: 0;
              margin: 0;
            }

            i:before{
              padding: 0;
              margin: 0;

            }
          }
        }
      }
    }
  }
}

.example-mask {
  -webkit-mask-image: url(../images/Bonzai-B-test.svg);
  mask-image: url(../images/Bonzai-B-test.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  mask-size: 100%;
}

.secCurve1{
  position: relative;
  margin: 0;
  padding: 0;
  background-color: red;
  width: 100%;
  height: 100vh;
}

.curveTest{
  position: absolute;
  bottom: -1px;
  width: 100%;

  path{
    fill: #00f;
  }
}

.secCurve2{
  margin: 0;
  padding: 0;
  background-color: #00f;
  width: 100%;
  height: 100vh;
}

.testCut{
  display: block;
  position: relative;
  width: 100%;
  height: 1000px;
}

.testCutTop{
  display: block;
  position: relative;
  background: url("../images/farcry.jpg") no-repeat center;   width: 100%;
  height: 400px;
  clip-path: url("../images/Bonzai-line-test3.svg");
}

.testCutBtm{
  display: block;
  position: relative;
  width: 100%;
  height: 400px;
  background: red;
  clip-path: url("../images/Bonzai-line-test3.svg");
}



@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media screen and (min-width: 1366px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media screen and (min-width: 1920px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media screen and (min-width: 2560px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media screen and (min-width: 3840px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}