// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

// Variables

// fonts
$headlineFont: Sanchez, serif;
$textFont: Quicksand, sans-serif;

// colour
$darkBlue: #006766;
$midToneBlue: #66cdcc;
$lightBlue: #9acccd;

$deepOrange: #ff6500;
$midToneOrange: #ff9934;

$offWhite: #fffef9;

// mixins

@mixin orangeButton(){
  font-family: $textFont;
  font-weight: bold;
  border: none;
  background-color: $deepOrange;
  color: $offWhite;
  border-radius: 10px;
}

@mixin header(){
  position: relative;
  display: block;
  width: 100%;
  margin: 10vh 0 0 0;
  .flex{
    width: 100%;
    display: flex;
    .menuPlacement{
      display: none;
    }
    .headerContent{
      width: 100%;
      text-align: right;
      padding: 30vw 5vw;
      background-size: cover;
      h1{
        font-size: 15pt;
      }
      p{
        margin-top: 10px;
      }
    }
  }
  svg{
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    z-index: 10;
    g{
      path{
        fill: $offWhite;
      }
    }
  }
}

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: $offWhite;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
  font-family: $headlineFont;
}

h1, h2, h3{
  color: $darkBlue;
}

h2, h3{
  font-size: 22pt;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
  font-family: $textFont;
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
  font-family: $textFont;
  font-size: 10pt;
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}
a{
  font-weight: bold;
  color: $midToneOrange;
  text-decoration: none;
}

// header

.headerMobile{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10vh;
  background-color: $midToneBlue;
  z-index: 100;
  .flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap row;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    .burger{
      position: fixed;
      top: 0;
      bottom: 90vh;
      right: 110%;
      left: 120%;
    }
    .burgerMenu{
      font-size: 25pt;
      color: $darkBlue;
    }
    .logoMob{
      width: 30%;
    }
  }
}
.mobileMenu{
  position: fixed;
  top: 10vh;
  right: 100%;
  bottom: 0;
  left: -100%;
  transition: 500ms;
  background-color: $midToneBlue;
  font-family: $textFont;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  z-index: 100;
  a{
    text-decoration: none;
    color: $offWhite;
  }
  li{
    list-style: none;
  }
  .verticalFlex{
    display: flex;
    flex-flow: nowrap column;
    width: 80%;
    height: 30vh;
    justify-content: space-around;
    margin: 6vh auto 0 auto;
    font-size: 20pt;
  }
  .flex{
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto 10vh auto;
    .teamIcon{
      width: 15%;
    }
    .someIcons{
      width: 55%;
      ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        width: 100%;
        font-size: 37pt;

        a{
          color: $deepOrange;
        }
      }
    }
  }
}
.mobileMenuShow{
  right: 0;
  left: 0;
}
.menuBack{
  display: none;
}

// index
.indexHeader{
  @include header;
  .flex{
    .headerContent{
      background: url("../images/banner-index.jpg") no-repeat center;
      background-size: cover;
    }
  }
}
.indexSolutions{
  display: block;
  position: relative;
  width: 100%;
  margin: 10vw 0 0;
  .flex{
    display: block;
    width: 90%;
    margin: 0 auto;
    .indexSolutionsInfo{
      p{
        margin-bottom: 10px;
      }
    }
    .grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr auto;
      grid-gap: 5vw;
      margin: 10vw 0;
      width: 100%;
    }
  }
  h3{
    width: 70%;
    margin: 0 auto;
    text-align: center;
  }
  .grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5vw;
    grid-row-gap: 5vw;
    width: 90%;
    margin: 0 auto 20vw;
    padding: 0;
    .gridObject{
      color: $offWhite;
      font-weight: bold;
      display: block;
      width: 100%;
      padding-top: 100%;
      position: relative;
      div{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      i{
        font-size: 25pt;
      }
      p{
        margin: 5px 0 0 0;
      }
    }
    .orange{
      background-color: $midToneOrange;
    }
    .blue{
      background-color: $lightBlue;
    }
  }
  svg{
    position: absolute;
    bottom: -20.2vw;
    left: 0;
    right: 0;
    z-index: 10;
    g{
      path{
        fill: $darkBlue;
      }
    }
  }
}
.indexExperience{
  width: 100%;
  background-color: $darkBlue;
  color: $lightBlue;
  h2{
    color: $lightBlue;
    margin-bottom: 2vw;
  }
  a{
    font-weight: bold;
    color: $offWhite;
  }
  .indexExperienceInfo{
    width: 90%;
    margin: 10vw auto;
  }
  p{
    margin-top: 10px;
  }
  .slide{
    background-color: $lightBlue;
    width: 100%;
    color: black;
    position: relative;
    text-align: center;
    .slideContainer{
      width: 90vw;
      margin: 10vw auto;
      overflow: hidden;
      position: relative;

      #slideLength{
        width: 10000px;
        height: 90%;
        display: flex;
        flex-direction: row;
        overflow: hidden;
        .slideObject{
          width: 45vw;
          padding: 2.5vw;
          position: relative;
        }
      }
      #slideDots{
        width: 100%;
        height: 10%;
        padding: 5px 0;
        margin-bottom: 5vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        .dot{
          width: 10px;
          height: 10px;
          margin: 0 2.5px;
          border-radius: 50%;
          background-color: #a9a9a9;
        }
        .active{
          background-color: $offWhite;
        }
      }
    }
  }
}
.indexControl{
  width: 100%;
 .indexControlInfo{
   width: 90%;
   margin: 0 auto 5vw;
   p{
     margin-top: 10px;
   }
 }
}
// new website
.newHeader{
  @include header;
  position: relative;
  .flex{
    z-index: 99;
    -webkit-mask-image: url(../images/svg/waveTopMask.svg);
    mask: url(../images/svg/waveTopMask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-position-y: 100%;
    mask-position-y: 100%;
    .headerContent{
      background: url("../images/banner_new-website.jpg") no-repeat center;
      background-size: cover;
    }
    position: absolute;
    top: 0;
    right: 0;
  }
  .headerPush{
    width: 100%;
    height: 80vw;
  }
  .design{
    position: relative;
    .img{
      display: none;
    }
    .text{
      width: 90%;
      margin: 20vw auto 15vw;

      p{
        margin-bottom: 10px;
      }
    }
  }
  svg{
    bottom: -15.1vw;
    g{
      path{
        fill: $lightBlue;
      }
    }
  }
}
.newProcess{
  width: 100%;
  background-color: $lightBlue;
  .flex{
    width: 90%;
    margin: 0 auto;
    padding: 10vw 0;
    .process{
      margin: 0 0 10vw;
      p{
        margin-bottom: 10px;
      }
    }
    .grid{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 15px;
      .gridObject{
        display: flex;
        flex-flow: nowrap column;
        justify-content: center;
        padding: 20px 30px;
        background-color: $darkBlue;
        color: $offWhite;
        h4{
          font-size: 12pt;
          margin-bottom: 5px;
        }
      }
    }
  }
}
.newPrice{
  ul{
    font-size: 10pt;
    list-style: none;
    li {
      text-indent: 5px;
    }
    li:before {
      content: " - ";
      font-weight: bold;
    }
  }
  .flex{
    width: 90%;
    margin: 10vw auto;
    .newPriceInfo{
      width: 100%;
      p{
        margin-bottom: 10px;
      }
      div{
        margin-bottom: 10px;
        p{
          margin-bottom: 0;
        }
      }
    }
    .grid{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 5vw;
      .gridObject{
        width: 100%;
        padding-top: 100%;
        position: relative;
        background-color: $midToneBlue;
        .gridFlex{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-family: $headlineFont;
          color: $offWhite;
          font-size: 25pt;
          margin: 0 auto;
          p{
            margin-top: 10px;
            font-size: 11pt;
          }
        }
      }
      .gridObjectOrange{
        background-color: $midToneOrange;
      }
    }
  }
}
.newWebshop{
  width: 100%;
  position: relative;
  background-color: $darkBlue;
  color: $lightBlue;
  svg{
    g{
      path{
        fill: $offWhite;
      }
    }
  }
  #newWebshowSvgTop{
    position: absolute;
    top: -1px;
    width: 100%;
  }
  #newWebshowSvgBtm{
    position: absolute;
    bottom: -1px;
    width: 100%;
  }
  .flex{
    width: 90%;
    margin: 0 auto;
    .webshopInfo{
      padding: 20vw 0;
      width: 100%;
      h2{
        color: $lightBlue;
      }
      p{
        margin-bottom: 10px;
      }
      .grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;

        .gridObject{
          background-color: $lightBlue;
          width: 100%;
          padding-top: 100%;
          position: relative;
          .flex{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-family: $headlineFont;
            color: $offWhite;
            font-size: 20pt;
            p{
              margin-top: 5px;
              font-size: 8pt;
              margin-bottom: 0;
            }
          }
        }
        .gridObjectOrange{
          background-color: $midToneOrange;
        }
      }
    }
    .img{
      display: none;
    }
  }
}
.newMobile{
  width: 100%;
  .flex{
    width: 90%;
    margin: 10vw auto;
    .img{
      width: 80%;
      margin: 0 auto 5vw;
    }
    .mobile{
      width: 100%;
      p{
        margin-bottom: 10px;
      }
    }
  }
}
.newAministration{
  background-color: $midToneOrange;
  width: 100%;
  .flex{
    width: 90%;
    margin: 0 auto;
    .administration{
      padding: 10vw 0;
      h2{
        color: #000000;
      }
      p{
        margin-bottom: 10px;
      }
    }
    img{
      display: none;
    }
  }
}

// contact
.contactHeader{
  @include header;
  margin: 5vw 0 0 0;
  .flex{
    .headerContent{
      background: url("../images/banner-contact.jpg") no-repeat center;
      background-size: cover;
      form{
        .newsEmail{
          width: 80%;
          font-family: $textFont;
          text-align: center;
          height: 25px;
          border: none;
          background-color: $offWhite;
          border-radius: 5px;
        }
        .newsButton{
          @include orangeButton;
          width: 60%;
          padding: 4px;
          font-size: 10pt;
          border-radius: 5px;
          margin-right: 10%;
        }
        input{
          margin-top: 15px;
        }
      }
    }
  }
}
.contactInfo{
  width: 100%;
  .flex{
    width: 90%;
    margin: 10vw auto;
    display: flex;
    flex-flow: column nowrap;
    .info{
      p{
        margin-bottom: 10px;
      }
    }
    .contactForm{
      width: 100%;
      margin: 5vw 0 0;
      form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      input, select, textarea{
        width: 100%;
        font-family: $textFont;
        border-radius: 8px;
        border: $darkBlue 2px solid;
        padding: 8px;
        background-color: $offWhite;
        margin-bottom: 15px;
      }
      select{

      }
      .contactSubmit{
        background-color: $deepOrange;
        color: $offWhite;
        border: $deepOrange 2px solid;
        width: 40%;
      }
    }
  }
}
.contactLocation{
  background-color: $midToneOrange;
  width: 100%;
  position: relative;
  svg{
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    path{
      fill: $offWhite;
    }
  }
  .flex{
    display: flex;
    flex-flow: nowrap column;
    .location{
      width: 90%;
      margin: 15vw auto 0;
      h2{
        color: black;
        width: 50%;
      }
      p{
        margin-bottom: 10px;
      }
    }
    .mapSize{
      width: 100%;
      padding-top: 100%;
      position: relative;
    }
    .map{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
// cases
.casesHeader{
  @include header;
  .flex{
    .headerContent{
      // skift billede
      background: url("../images/banner-index.jpg") no-repeat center;
      background-size: cover;
    }
  }
}
.cases{
  width: 100%;
  .grid{
    width: 80%;
    margin: 10vw auto 5vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 5vw;
    .gridObject{
      width: 100%;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      .imageScroll{
        overflow-y: scroll;
        overflow-x: hidden;
        position: relative;
        width: 100%;
        padding-top: 100%;
        img{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
      }
      a{
        margin-top: 2vw;
        font-family: $headlineFont;
        color: $deepOrange;
        font-size: 20pt;
        text-decoration: none;
      }
    }
  }
}
// footer
footer{
  width: 100%;
  background-color: $lightBlue;
  .footerGrid{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 60% 35%;
    grid-template-rows: 5fr 9fr;
    grid-gap: 5%;
    font-family: $textFont;
    a{
      color: $deepOrange;
      text-decoration: none;
    }
    .footerContact{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      line-height: 1.5;
      margin: 5vw 0 0 0;
      font-size: 11pt;
      h4{
        font-family: $headlineFont;
      }
      a{
        font-weight: bold;
        font-size: 12pt;
      }
    }
    .footerLinks{
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      font-size: 13pt;
      font-weight: bold;
      text-align: center;
      margin: 5vw 0 0 0;
      .footerSome{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        font-size: 23pt;
      }
    }
    .footerNewsletter{
      grid-column: 1 / 3;
      grid-row: 2 / 3;
      text-align: center;
      margin: 2vw 0 5vw 0;
      form{
        h4{
          font-weight: normal;
        }
        input{
          margin: 3vw 0 0 0;
        }
        .newsEmail{
          width: 100%;
          font-family: $textFont;
          text-align: center;
          height: 36px;
          border: none;
          background-color: $offWhite;
          border-radius: 10px;
        }
        .newsButton{
          @include orangeButton;
          width: 60%;
          padding: 8px;
          font-size: 12pt;
        }
      }
    }
  }
}
@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil

  @mixin header768(){
    .flex{
      .headerContent{
        h1{
          font-size: 30pt;
        }
        p{
          font-size: 22pt;
        }
      }
    }
  }

  h2, h3{
    font-size: 30pt;
  }
  .headerMobile{
    .flex{
      .burgerMenu{
        font-size: 35pt;
      }
      .logoMob{
        width: 25%;
      }
    }
  }
  .mobileMenu{
    .flex{
      .teamIcon{
        width: 7%;
      }
      .someIcons{
        width: 30%;
      }
    }
  }
  .indexHeader{
    @include header768;
  }
  .indexSolutions{
    .flex{
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      .indexSolutionsInfo{
        width: 45%;
        p{
          margin-bottom: 10px;
        }
      }
      .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
        margin: 0;
        width: 50%;
      }
    }
    h3{
      width: 100%;
    }
    .grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-gap: 10px;
      width: 90%;
      margin: 20px auto 12vw;
      .gridObject{
        p{
          font-size: 11pt;
        }
      }
      #gridObject3{
        grid-area: 2 / 1 / 3 / 2;
      }
      #gridObject4{
        grid-area: 2 / 2 / 3 / 3;
      }
      #gridObject5{
        grid-area: 1 / 3 / 2 / 4;
      }
      #gridObject6{
        grid-area: 1 / 4 / 2 / 5;
      }
    }
    svg{
      bottom: -12.1vw;
    }
  }
  .indexExperience{
    .indexExperienceInfo{
      width: 55%;
    }
    .slide{
      .slideContainer{
        margin: 0 auto;
        #slideLength{
          .slideObject{
            width: 30vw;
          }
        }
        #slideDots{
          margin-bottom: 20px;
          .dot {
            width: 15px;
            height: 15px;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .indexControl{
    width: 100%;
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-between;

    .indexControlInfo{
      width: 45%;
      margin: 30px 0;
      padding: 0 5% 0 0;
    }
    img{
      width: 50%;
      max-height: 55vw;
      -webkit-mask-image: url(../images/svg/bNormal.svg);
      mask-image: url(../images/svg/bNormal.svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
    }
  }
  .newHeader{
    @include header768;
    .design{
      position: relative;
      display: flex;
      flex-flow: nowrap row;
      justify-content: flex-end;
      .img{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        display: block;
        width: 45%;
        img{
          height: 100%;
          object-fit: cover;
        }
      }
      .text{
        width: 55%;
        padding: 0 5vw;
        margin: 10vw 0 15vw;
        h2{
          font-size: 25pt;
        }
      }
    }
    svg{
      bottom: -0.1vw;
    }
  }
  .newProcess{
    .flex{
      padding: 7vw 0 10vw;
      .process{
        margin: 0 0 5vw;
      }
    }
  }
  .newPrice{
    .flex{
      width: 90%;
      display: flex;
      flex-flow: nowrap row-reverse;
      justify-content: space-between;
      margin: 10vw auto 5vw;
      .newPriceInfo{
        margin: 0;
        width: 50%;
      }
      .grid{
        width: 45%;
        grid-gap: 10px;
        height: 0;
        .gridObject{
          .gridFlex{
            font-size: 35pt;
            p{
              font-weight: bold;
              font-size: 12pt;
            }
          }
        }
      }
    }
  }
  .newWebshop{
    .flex{
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      width: 100%;
      .webshopInfo{
        padding: 15vw 5vw 10vw;
        width: 55%;
        .grid{
          padding-top: 20px;
        }
      }
      .img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 40%;
        img{
          height: 100%;
          width: auto;
          object-fit: cover;
        }
      }
    }
    svg{
      z-index: 10;
    }
  }
  .contactHeader{
    @include header768;
    .flex{
      .headerContent{
        form{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          .newsEmail{
            width: 40%;
          }
          .newsButton{
            width: 40%;
            margin-right: 0;
          }
        }
      }
    }
  }
  .newMobile{
    .flex{
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      .img{
        width: 35%;
        margin: 0;
      }
      .mobile{
        width: 60%;
      }
    }
  }
  .newAministration{
    .flex{
      width: 50%;
    }
  }
  .contactInfo{
    .flex{
      flex-direction: row;
      justify-content: space-between;
      .info{
        width: 40%;
        margin: 0;
      }
      .contactForm{
        width: 50%;
        margin: 0;
      }
    }
  }
  .contactLocation{
    svg{
      z-index: 90;
    }
    .flex{
      flex-direction: row;
      justify-content: space-between;
      .location{
        width: 40%;
        h2{
          width: 100%;
        }
      }
      .mapSize{
        width: 50%;
        padding-top: 60%;
      }
    }
  }
  .casesHeader{
    @include header768;
  }
  .cases{
    .grid{
      width: 90%;
      margin: 10vw auto;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 30px;
      .gridObject{
        a{
          margin-top: 10px;
          font-size: 15pt;
        }
      }
    }
  }
  footer{
    .footerGrid{
      grid-template-rows: 1fr 2fr;
      grid-gap: 20px;
      font-size: 20pt;
      a{
        color: $deepOrange;
        text-decoration: none;
      }
      .footerContact{
        font-size: 16pt;
        a{
          font-size: 18pt;
        }
        p{
          font-size: 16pt;
        }
      }
      .footerLinks{
        font-size: 30pt;
        .footerSome{
          font-size: 30pt;

        }
      }
      .footerNewsletter{
        form{
          h4{
            width: 75%;
            margin-left: auto;
            margin-right: auto;
          }
          .newsEmail{
            width: 60%;
          }
          .newsButton{
            @include orangeButton;
            width: 40%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
  //mixins
  @mixin webPush(){
    width: 94.234vw;
    margin: 0 0 0 auto;
  }
  @mixin header992(){
    @include webPush;
    .flex{
      display: block;
      .menuPlacement{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 21.746vw;
        background-color: $midToneBlue;
      }
      .headerContent{
        width: 72.4879vw;
        padding: 30vw 0;
        margin: 0 0 0 auto;

        h1{
          padding-right: 5%;
        }
        p{
          padding-right: 5%;
        }
      }
    }
  }
  .headerMobile{
    display: none;
  }
  .mobileMenu{
    display: none;
  }
  .menuBack{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 94.234%;
    z-index: 100;
    display: flex;
    flex-flow: nowrap column;
    justify-content: space-around;
    background-color: $midToneBlue;
    font-size: 25pt;
    color: $deepOrange;
    .menuBackBtn{
      position: fixed;
      left: -150px;
      right: -140px;
    }
    label{
      margin: 0 auto;
    }
    a{
      text-decoration: none;
      color: $offWhite;
    }
    .menu{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 72.5%;
      background-color: $midToneBlue;
      display: none;
      z-index: 101;
      transition: 1s;
      color: $offWhite;
      font-weight: bold;
      font-family: $textFont;
      font-size: 13pt;
      line-height: 175%;
      .logoImg{
        width: 63%;
        margin: 0 25% 0 12%;
        padding: 20% 0 5%;
      }
      .verticalFlex{
        display: flex;
        flex-flow: nowrap column;
        justify-content: space-around;
        list-style: none;
        width: auto;
        margin: 0 0 0 41.75%;
      }
      .flex{
        display: flex;
        flex-flow: nowrap row;
        justify-content: space-between;
        list-style: none;
        position: absolute;
        bottom: 10%;
        right: 21%;
        left: 18.7%;
        .teamIcon{
          width: 32px;
          display: flex;
          flex-flow: column nowrap;
          justify-content: center;
        }
        .someIcons{
          width: 65%;
          ul{
            display: flex;
            flex-flow: nowrap row;
            justify-content: space-between;
            list-style: none;
            width: 100%;
            font-size: 26pt;
          }
          a{
            color: $deepOrange;
          }
        }
      }
    }
    .menuNotAtTop{
      left: -27.51%;
      right: 100%;
    }
    .menuLoad{
      transition: 0s !important;
    }
  }
  .menuBack:hover{
    .menu{
      left: 0 ;
      right: 72.5%;
    }
  }
  .indexHeader{
    @include header992;
  }
  .indexSolutions{
    @include webPush;
    .flex{
      margin: 10vw 0 5vw 5vw;
      .indexSolutionsInfo{
        p{
          font-size: 12pt;
        }
      }
      .grid{
        grid-template-rows: 1fr auto;
        p{
          font-size: 12pt;
        }
      }
    }
    .grid{
      margin: 20px auto 15vw;
      .gridObject{
        p{
          font-size: 12pt;
        }
      }
    }
    svg{
      bottom: -15.1vw;
    }
  }
  .indexExperience{
    @include webPush;
    .indexExperienceInfo{
      width: 45%;
      p{
        font-size: 12pt;
      }
    }
    .slide{
      .slideContainer{
        margin: 0 auto;
        #slideLength{
          .slideObject{
            width: 22.5vw;
          }
        }
        #slideDots{
          margin-bottom: 20px;
          .dot {
            width: 15px;
            height: 15px;
            margin: 0 5px;
          }
        }
      }
    }
  }
  .indexControl{
    @include webPush;
    .indexControlInfo{
      width: 45%;
      margin: 30px 0;
      padding: 5vw 5% 0 0;
      p{
        font-size: 12pt;
      }
    }
    img{
      width: 50%;
      max-height: 52vw;
      -webkit-mask-image: url(../images/svg/bNormal.svg);
      mask-image: url(../images/svg/bNormal.svg);
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-size: 100%;
      mask-size: 100%;
    }
  }
  .newHeader{
    @include header992;
    .headerPush{
      height: 75vw;
    }
    .design{
      .text{
        padding: 0 10vw;
        p{
          font-size: 12pt;
        }
      }
    }
  }
  .newProcess{
    @include webPush;
    .flex{
      display: flex;
      justify-content: space-between;
      flex-flow: row nowrap;
      .process{
        width: 45%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin: 0;
        padding: 0 5%;
        p{
          font-size: 12pt;
        }
      }
      .grid{
        width: 50%;
      }
    }
  }
  .newPrice{
    @include webPush;
    .flex{
      .newPriceInfo{
        padding: 0 5%;
        p{
          font-size: 12pt;
        }
        ul{
          font-size: 12pt;
        }
      }
    }
  }
  .newWebshop{
    @include webPush;
    .flex{
      .webshopInfo{
        p{
          font-size: 12pt;
        }
      }
      .img{
        img{
          width: 100%;
        }
      }
    }
  }
  .newMobile{
    @include webPush;
    .flex{
      .mobile{
        padding: 0 5%;
        p{
          font-size: 12pt;
        }
      }
    }
  }
  .newAministration{
    @include webPush;
    .flex{
      display: flex;
      flex-flow: nowrap row;
      justify-content: space-between;
      width: 100%;
      .administration{
        width: 45%;
        padding: 1vw 5%;
        p{
          font-size: 12pt;
        }
      }
      img{
        display: block;
        width: 55%;
        max-height: 55vw;
        -webkit-mask-image: url(../images/svg/bReverse.svg);
        mask-image: url(../images/svg/bReverse.svg);
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: 100%;
        mask-size: 100%;
      }
    }
  }
  .contactHeader{
    @include header992;
    .flex{
      .headerContent{
        form{
          padding-right: 5%;
        }
      }
    }
  }
  .contactInfo{
    @include webPush;
    .flex{
      .info{
        p{
          font-size: 12pt;
        }
      }
    }
  }
  .contactLocation{
    @include webPush;
    .flex{
      .location{
        margin-top: 22vw;
        p{
          font-size: 12pt;
        }
      }
    }
  }
  .casesHeader{
    @include header992;
  }
  .cases{
    @include webPush;
  }
  footer{
    @include webPush;
    .footerGrid{
      grid-template-columns: 2fr 1fr 2fr;
      grid-template-rows: 1fr;
      grid-gap: 5%;
      font-size: 15pt;
      a{
        color: $deepOrange;
        text-decoration: none;
      }
      .footerContact{
        font-size: 15pt;
        a{
          font-size: 15pt;
        }
        p{
          font-size: 15pt;
        }
      }
      .footerLinks{
        font-size: 20pt;
        .footerSome{
          font-size: 25pt;
        }
      }
      .footerNewsletter{
        grid-area: 1 / 3 / 2 / 4;
        margin-top: 5vw;
        form{
          h4{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
          .newsEmail{
            width: 100%;
          }
          .newsButton{
            @include orangeButton;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  @mixin header1200(){
    .flex{
      .headerContent{
        padding: 19vw 0;
      }
    }
  }
  .indexHeader{
    @include header1200;
  }
  .indexSolutions{
    .grid{
      width: 80%;
    }
  }
  .indexExperience{
    .slide{
      .slideContainer{
        #slideLength{
          .slideObject{
            width: 15vw;
            display: flex;
            justify-content: center;
            padding: 20px;
          }
        }
      }
    }
  }
  .newHeader{
    @include header1200;
    .headerPush{
      height: 50vw;
    }
    .design{
      .text{
        margin: 12vw 0 15vw;
      }
    }
  }
  .newProcess{
    .flex{
      .process{
        padding: 0 7%;
      }
    }
  }
  .newPrice{
    .flex{
      margin: 10vw auto 10vw;
    }
  }
  .newWebshop{
    .flex{
      .webshopInfo{
        .grid{
          .gridObject{
            .flex{
              font-size: 30pt;
              p{
                font-size: 12pt;
                font-weight: bold;

              }
            }
          }
        }
      }
    }
  }
  .newMobile{
    .flex{
      .mobile{
        padding: 0 5% 0 14%;
      }
    }
  }
  .newAministration{
    .flex{
      .administration{
        padding: 5vw 5%;
      }
    }
  }
  .contactHeader{
    @include header1200;
  }
  .contactInfo{
    .flex{
      margin: 5vw auto;
    }
  }
  .contactLocation{
    .flex{
      .location{
        width: 33%;
        margin: 15vw auto 0 5%;
      }
      .mapSize{
        padding-top: 40%;
      }
    }
  }
  .casesHeader{
    @include header1200;
  }
  footer{
    .footerGrid{
      .footerLinks{
        max-width: 200px;
        font-size: 25pt;
        .footerSome{
          font-size: 30pt;
        }
      }
      .footerNewsletter{
        grid-area: 1 / 3 / 2 / 4;
        margin-top: 5vw;
        form{
          h4{
            width: 100%;
            margin-left: auto;
            margin-right: auto;
          }
          .newsEmail{
            width: 100%;
          }
          .newsButton{
            @include orangeButton;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1366px) {
  // Alt der ændres i computer fra 1200px
  .menuBack{
    font-size: 25pt;
    .menu{
      font-size: 17pt;
      .flex{
        .teamIcon{
          width: 32px;
        }
        .someIcons{
          width: 55%;
          ul{
            font-size: 28pt;
          }
        }
      }
    }
  }
  .indexSolutions{
    .grid{
      width: 70%;
    }
  }
  .indexExperience{
    .indexExperienceInfo{
      width: 35%;
    }
  }
  .indexControl{
    .indexControlInfo{
      padding: 8vw 13% 0 0;
    }
  }
  .newHeader{
    .headerPush{
      height: 45vw;
    }
  }
  .newProcess{
    .flex{
      width: 80%;
    }
  }
  .newPrice{
    .flex{
      margin: 10vw auto 10vw;
      .grid{
        width: 35%;
        margin-left: 10%;
        grid-gap: 25px;
      }
    }
  }
  .newMobile{
    .flex{
      justify-content: space-around;
      .img{
        width: 25%;
      }
    }
  }
  .newAministration{
    .flex{
      .administration{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
      }
    }
  }
  .cases{
    .grid{
      grid-gap: 80px;
    }
  }
  footer{
    .footerGrid{
      .footerNewsletter{
        form{
          max-width: 400px;
          margin: 0 auto;
          input{
            margin: 1vw 0 0 0;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  // Alt der ændres i computer fra 1366px

  @mixin header1920(){
    .flex{
      .headerContent{
        padding: 21vw 0;
      }
    }
  }
  .menuBack{
    font-size: 40pt;
    .menu{
      font-size: 20pt;
      .flex{
        .teamIcon{
          width: 50px;
        }
        .someIcons{
          ul{
            font-size: 41pt;
          }
        }
      }
    }
  }
  .indexHeader{
    @include header1920;
  }
  .indexSolutions{
    margin: 8vw 0 0 auto;
    .flex{
      width: 70%;
      margin: 10vw auto 5vw;
    }
    .grid{
      margin: 20px auto 10vw;
    }
    svg{
      bottom: -10.1vw;
    }
  }
  .indexExperience{
    .indexExperienceInfo{
      width: 25%;
      margin: 5vw auto;
    }
  }
  .indexControl{
    .indexControlInfo{
      padding: 11vw 21% 0 0;
    }
  }
  .newHeader{
    @include header1920;
    .headerPush{
      height: 50vw;
    }
    .design{
      .text{
        margin: 12vw 0 15vw;
      }
    }
  }
  .newProcess{
    .flex{
      justify-content: space-around;
      .grid{
        width: 40%;
      }
    }
  }
  .newPrice{
    .flex{

      .newPriceInfo{
        padding: 0 9%;
        margin-right: 5%;
      }
    }
  }
  .newWebshop{

  }
  .newMobile{
    .flex{
      width: 70%;
    }
  }
  .newAministration{
    .flex{
      .administration{
        padding: 5vw 10%;
      }
    }
  }
  .contactHeader{
    @include header1920;
    .flex{
      .headerContent{
        form{
          .newsEmail{
            width: 20%;
          }
          .newsButton{
            width: 20%;
          }
        }
      }
    }
  }
  .contactInfo{
    .flex{
      .info{
        padding: 0 5%;
      }
    }
  }
  .contactLocation{
    .flex{
      .location{
        padding: 0 5%;
      }
    }
  }
  .casesHeader{
    @include header1920;
  }
}

@media screen and (min-width: 2560px) {
  // Alt der ændres i computer fra 1920px
  @mixin header2560(){
    .flex{
      .headerContent{
        padding: 23vw 0;
      }
    }
  }
  .indexHeader{
    @include header2560;
  }
  .newHeader{
    @include header2560;
    .headerPush{
      height: 50vw;
    }
  }
  .newPrice{
    .flex{
      width: 70%;
      justify-content: space-around;
      .grid{
        margin: 0;
      }
    }
  }
  .contactHeader{
    @include header2560;
  }
  .contactInfo{
    .flex{
      .info{
        margin: 0 0 0 6.3%;
        padding: 0 10% 0 5%;
      }
    }
  }
  .contactLocation{
    .flex{
      .location{
        margin: 15vw auto 0 10%;
      }
    }
  }
  .casesHeader{
    @include header2560;
  }
  .cases{
    .grid{
      width: 80%;
    }
  }
}

@media print {
  // Alt der gælder for print specifikt
}