// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

.shapeTest2{
  position: relative;
  width: 35%;
  background-color: red;
  margin-left: auto;

  .shapeB, .shapeB:before, .shapeB:after{
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
  }

  .shapeB{
    .side{
      width: 45%;
      height: 100%;
      margin-left: auto;
      background-color: #ffffff;
    }
  }

  .shapeB:before{
    content: " ";
    background-color: #ffffff;
    clip-path: circle(25% at 55% 32%);

  }

  .shapeB:after{
    content: " ";
    background-color: #ffffff;
    clip-path: circle(30% at 55% 100%);

  }
}

.shapeTest2:before{
  content: " ";
  display: block;
  padding-top: 65%;
}





.testShape{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.clip-svg {
  clip-path: url(#myClip);
}



.parent{
  width: 35%;
  padding-top: 100%;
  position: absolute;

  right: 0;
  background-color: red;
  margin-top: 15vh;
}

.parent div, .parent div:before, .parent div:after {
  width: 100%;
  height: 100%;
  position: absolute;
}

.parent div{

}

.parent div:before{
  content: " ";
  background-color: #aaaaaa;
  clip-path: circle(15% at 50% 25%);
}

.parent div:after{
  content: " ";
  background-color: #ff00ff;
  clip-path: circle(25% at 50% 100%);
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}