ErrorDocument 403 /403.php
ErrorDocument 404 /404.php

RewriteEngine On
RewriteRule ^ny-hjemmeside newWebsite.php
RewriteRule ^referencer cases.php
RewriteRule ^kontakt contact.php
RewriteRule ^blog blog.php
